.App {
  text-align: center;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #0c0c0c;
}

body::-webkit-scrollbar-thumb {
  background-color: #0c0c0c;
  border-radius: 20px;
  border: 1px solid white;
}
